@model IEnumerable<CitizenReport>

@{
    ViewData["Title"] = "Ծանուցում";
}

<h2>Ծանուցում</h2>

<table border="1" >
    <thead>
        <tr>
            <th>
                Անուն
            </th>
            <th>
                Ազգանուն
            </th>
            <th>
                Հայրանուն
            </th>
            <th>
                Անձնագիր
            </th>
            <th>
                Հեռախոսահամար
            </th>
            <th>
                Թեստի միավոր
            </th>
            <th>
                Էլեկտրոցանց
            </th>
            <th>
                Խնդրի լրացման ամսաթիվը
            </th>
            <th>
                Հարցաշարի լրացման ամսաթիվը
            </th>
            <th>
                Ծանուցված
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

    var TimeNotif = (item.NotificationData).ToString("dd/MM/yyyy HH:mm");
    var result = item.Result_Test1 + item.Result_Test2;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test1DataTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test2DataTime)
            </td>
            <td>
               
                @if (item.Notification == true)
                {
                   
                    <button class="btn btn-success">Ծանուցվել է @TimeNotif  </button>
                }
                else
                {
                    <button class="btn btn-danger">Ծանուցված չէ</button>
                }

            </td>
            <td>
                <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Email" asp-route-Id="@item.Id">Ծանուցել</a>

            </td>
        </tr>
}
    </tbody>
</table>
