@model CitizenReport

@{
    ViewData["Title"] = "Իմ տվյալները";
}

@{ var sumResult = Model.Result_Test1 + Model.Result_Test2; }

<div style="text-align:center">
    <h3> <strong>Ամբողրական անուն: <span style="color:forestgreen">  @Model.LastName @Model.FirstName @Model.SecondName </span> </strong> </h3>
    <h3> <strong> Անձը հաստատող պաստաթուղթ: <span style="color:forestgreen">  @Model.Passport </span> </strong> </h3>
    <h3> <strong> Հեռախոսահամար: <span style="color:forestgreen">  @Model.PhoneNumber </span> </strong> </h3>


    @if (Model.Test1Check == true)
    {
        var Time1 = (Model.Test1DataTime).ToString("dd/MM/yyyy HH:mm");
        <span>Խնդրը լրացնելու վերջին փորձը կատարել եք  <button class="btn btn-outline-success"><strong>@Time1</strong></button>-ին, որի արդյունքում ստացել եք <button class="btn btn-outline-success"><strong>@Model.Result_Test1</strong></button> միավոր: </span>

    }
    else
    {
        <span>Խնդրը դեռ չէք լրացրել</span>
    }
    <br />
    <br />
    @if (Model.Test2Check == true)
    {
        var Time2 = (Model.Test2DataTime).ToString("dd/MM/yyyy HH:mm");
        <span>Հարցաշարիը լրացնելու վերջին փորձը կատարել եք <button class="btn btn-outline-success"><strong> @Time2</strong></button>-ին, որի արդյունքում ստացել եք <button class="btn btn-outline-success"><strong> @Model.Result_Test2</strong></button> միավոր: </span>


    }
    else
    {
        <span>Հարցաշարը դեռ չէք լրացրել</span>
    }
    <br />
    <br />

    @if ((Model.Test2Check == true) && (Model.Test2Check == true))
    {
        var TimeNotif = (Model.NotificationData).ToString("dd/MM/yyyy HH:mm");
        <span>Խնդրի և հարցաշարի պատասխանների արդյունքում դուք ստացել եք <button class="btn btn-success"> @sumResult </button> միավոր: </span>
       
        if (sumResult < 30)
        {
            <button class="btn btn-danger"> Դուք ստացել եք անբավարար </button>
        }
        else
        {
            <button class="btn btn-success"> Շնորհավորում եմ Դուք եք հաջղությամբ հանձնեցիք թեստը </button>
        }


        <br />
        if (Model.Notification != true)
        {
            <span>Թեստի արդյունքների մասնին ինֆորմացիան </span>
            <a class="btn btn-outline-primary" asp-controller="Home" asp-action="MyEmail" asp-route-Id="@Model.Id">Ուղարկել</a>
            <span> @Model.Email էլ հասցեին</span>
        }
        else
        {
            <span>Թեստի արդյունքների մասնին ինֆորմացիան  ծանուցվէլ է  @TimeNotif -ին:  </span>
            <br />
            <br />

            <a class="btn btn-outline-primary" asp-controller="Home" asp-action="MyEmail" asp-route-Id="@Model.Id">Կրկին ծանուցել</a>

        }

    }

</div>