@model List<Answer>

@{
    ViewData["Title"] = "Հարցաշար";

}

<div class="container">
    <div class="row">
        <div style="text-align:left" class="col-md-8 portfolio-item">

            <h3> Քաղաքացի <span style="color:forestgreen">  @ViewBag.UserFullName </span> </h3>
            <h5>Դուք հավաքեցիք <span style="color:forestgreen"> @ViewBag.Result_Test2 </span> միավոր  </h5>
            <h5>Ձեր ճիշտ  պատասխանները նշված են <strong><span style="color:green">կանաչ </span></strong>  գույնով </h5>
            <h5>Ձեր սխալ պատասխանները նշված են <strong><span style="color:red"> կարմիր</span></strong> գույնով</h5>
            <h5>Ձեր սխալ պատասխանի դեպքում ճիշտ պատասխանները նշված են <strong><span style="color:green">  (*ճիշտ պատասխան) </span></strong> նշումով</h5>
        </div>

        <div style="text-align:right" class="col-md-4 portfolio-item">

            <table border="0">
                <tbody>
                    <tr style="text-align:center">
                        <td colspan="5">  <button style="text-align:center" class="btn btn-info"><h5>Հարցաշարի  ուղեցույց </h5>  </button></td>
                    </tr>
                    <tr style="text-align:center">
                        @if (ViewBag.Score1 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=1 style="text-align:center" class="btn btn-success"><h5>1&nbsp;</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=1 style="text-align:center" class="btn btn-danger"><h5>1&nbsp;</h5>  </a></td>
                        }
                        @if (ViewBag.Score2 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=2 style="text-align:center" class="btn btn-success"><h5>2&nbsp;</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=2 style="text-align:center" class="btn btn-danger"><h5>2&nbsp;</h5>  </a></td>
                        }
                        @if (ViewBag.Score3 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=3 style="text-align:center" class="btn btn-success"><h5>3&nbsp;</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=3 style="text-align:center" class="btn btn-danger"><h5>3&nbsp;</h5>  </a></td>
                        }
                        @if (ViewBag.Score4 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=4 style="text-align:center" class="btn btn-success"><h5>4&nbsp;</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=4 style="text-align:center" class="btn btn-danger"><h5>4&nbsp;</h5>  </a></td>
                        }
                        @if (ViewBag.Score5 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=5 style="text-align:center" class="btn btn-success"><h5>5&nbsp;</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=5 style="text-align:center" class="btn btn-danger"><h5>5&nbsp;</h5>  </a></td>
                        }
                    </tr>
                    <tr style="text-align:center">
                        @if (ViewBag.Score6 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=6 style="text-align:center" class="btn btn-success"><h5>6&nbsp;</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=6 style="text-align:center" class="btn btn-danger"><h5>6&nbsp;</h5>  </a></td>
                        }
                        @if (ViewBag.Score7 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=7 style="text-align:center" class="btn btn-success"><h5>7&nbsp;</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=7 style="text-align:center" class="btn btn-danger"><h5>7&nbsp;</h5>  </a></td>
                        }
                        @if (ViewBag.Score8 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=8 style="text-align:center" class="btn btn-success"><h5>8&nbsp;</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=8 style="text-align:center" class="btn btn-danger"><h5>8&nbsp;</h5>  </a></td>
                        }
                        @if (ViewBag.Score9 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=9 style="text-align:center" class="btn btn-success"><h5>9&nbsp;</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=9 style="text-align:center" class="btn btn-danger"><h5>9&nbsp;</h5>  </a></td>
                        }
                        @if (ViewBag.Score10 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=10 style="text-align:center" class="btn btn-success"><h5>10</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=10 style="text-align:center" class="btn btn-danger"><h5>10</h5>  </a></td>
                        }
                    </tr>
                    <tr style="text-align:center">
                        @if (ViewBag.Score11 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=11 style="text-align:center" class="btn btn-success"><h5>11</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=11 style="text-align:center" class="btn btn-danger"><h5>11</h5>  </a></td>
                        }
                        @if (ViewBag.Score12 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=12 style="text-align:center" class="btn btn-success"><h5>12</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=12 style="text-align:center" class="btn btn-danger"><h5>12</h5>  </a></td>
                        }
                        @if (ViewBag.Score13 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=13 style="text-align:center" class="btn btn-success"><h5>13</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=13 style="text-align:center" class="btn btn-danger"><h5>13</h5>  </a></td>
                        }
                        @if (ViewBag.Score14 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=14 style="text-align:center" class="btn btn-success"><h5>14</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=14 style="text-align:center" class="btn btn-danger"><h5>14</h5>  </a></td>
                        }
                        @if (ViewBag.Score15 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=15 style="text-align:center" class="btn btn-success"><h5>15</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=15 style="text-align:center" class="btn btn-danger"><h5>15</h5>  </a></td>
                        }
                    </tr>
                    <tr style="text-align:center">
                        @if (ViewBag.Score16 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=16 style="text-align:center" class="btn btn-success"><h5>16</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=16 style="text-align:center" class="btn btn-danger"><h5>16</h5>  </a></td>
                        }
                        @if (ViewBag.Score17 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=17 style="text-align:center" class="btn btn-success"><h5>17</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=17 style="text-align:center" class="btn btn-danger"><h5>17</h5>  </a></td>
                        }
                        @if (ViewBag.Score18 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=18 style="text-align:center" class="btn btn-success"><h5>18</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=18 style="text-align:center" class="btn btn-danger"><h5>18</h5>  </a></td>
                        }
                        @if (ViewBag.Score19 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=19 style="text-align:center" class="btn btn-success"><h5>19</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=19 style="text-align:center" class="btn btn-danger"><h5>19</h5>  </a></td>
                        }
                        @if (ViewBag.Score20 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=20 style="text-align:center" class="btn btn-success"><h5>20</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=20 style="text-align:center" class="btn btn-danger"><h5>20</h5>  </a></td>
                        }
                    </tr>
                    <tr style="text-align:center">
                        @if (ViewBag.Score21 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=21 style="text-align:center" class="btn btn-success"><h5>21</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=21 style="text-align:center" class="btn btn-danger"><h5>21</h5>  </a></td>
                        }
                        @if (ViewBag.Score22 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=22 style="text-align:center" class="btn btn-success"><h5>22</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=22 style="text-align:center" class="btn btn-danger"><h5>22</h5>  </a></td>
                        }
                        @if (ViewBag.Score23 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=23 style="text-align:center" class="btn btn-success"><h5>23</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=23 style="text-align:center" class="btn btn-danger"><h5>23</h5>  </a></td>
                        }
                        @if (ViewBag.Score24 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=24 style="text-align:center" class="btn btn-success"><h5>24</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=24 style="text-align:center" class="btn btn-danger"><h5>24</h5>  </a></td>
                        }
                        @if (ViewBag.Score25 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=25 style="text-align:center" class="btn btn-success"><h5>25</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=25 style="text-align:center" class="btn btn-danger"><h5>25</h5>  </a></td>
                        }
                    </tr>
                    <tr style="text-align:center">
                        @if (ViewBag.Score26 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=26 style="text-align:center" class="btn btn-success"><h5>26</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=26 style="text-align:center" class="btn btn-danger"><h5>26</h5>  </a></td>
                        }
                        @if (ViewBag.Score27 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=27 style="text-align:center" class="btn btn-success"><h5>27</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=27 style="text-align:center" class="btn btn-danger"><h5>27</h5>  </a></td>
                        }
                        @if (ViewBag.Score28 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=28 style="text-align:center" class="btn btn-success"><h5>28</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=28 style="text-align:center" class="btn btn-danger"><h5>28</h5>  </a></td>
                        }
                        @if (ViewBag.Score29 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=29 style="text-align:center" class="btn btn-success"><h5>29</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=29 style="text-align:center" class="btn btn-danger"><h5>29</h5>  </a></td>
                        }
                        @if (ViewBag.Score30 == 1)
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=30 style="text-align:center" class="btn btn-success"><h5>30</h5>  </a></td>
                        }
                        else
                        {
                            <td>  <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=30 style="text-align:center" class="btn btn-danger"><h5>30</h5>  </a></td>
                        }
                    </tr>
                    @*<tr style="text-align:center">
                            <td colspan="5">   <a asp-action="Table" asp-controller="Questions" asp-route-idCurrent=31 onclick="return confirm('Դուք համոզված եք որ ցանկանում եք Ավատրել')" type="submit" class="btn btn-outline-success">Ավարտել հարցաշարը</a></td>
                        </tr>*@
                </tbody>
            </table>

        </div>

    </div>
</div>

<h3 style="text-align:center">Հարցաշար </h3>
<form asp-controller="Questions" asp-action="Submit">
    @{ var i = 0; }
    <ul style="list-style-type:none">
        @foreach (var question in ViewBag.Questions)
        {
            i++;

        <div class="container">
            <div class="row">

                <div style="text-align:right" class="col-md-4 portfolio-item">


                    <div style="text-align:left">
                        <button style="text-align:center" class="btn btn-info"><h2>Հարց @i </h2>  </button>

                        <h4> <span> Հարցի արժեքը 1 (մեկ) միավոր </span></h4>
                    </div>

                </div>


                <div style="text-align:left" class="col-md-8 portfolio-item">

                    <li>
                        <strong style="text-align:left"> Հարց @i @question.QuestionContent</strong>
                        <input type="hidden" name="questionId" value="@question.Id" />
                        <ol type="A">

                            @foreach (var answer in Model)
                    {
                        if (answer.QuestionId == question.Id)
                        {
                            <li>
                                @if ((answer.CheckdAnswer == true) && (answer.CorrectAnswer == true) && (answer.CheckCorrectAnswer == true))
                                {
                                <button class="btn btn-success" style="text-align:left"> @answer.QuestionVariantContent </button>

                                }

                                @if ((answer.CheckdAnswer == true) && (answer.CorrectAnswer == false) && (answer.CheckCorrectAnswer == false))
                                {

                                <button style="text-align:left" class="btn btn-danger"> @answer.QuestionVariantContent </button>


                                }
                                @if ((answer.CheckdAnswer == false) && (answer.CorrectAnswer == true) && (answer.CheckCorrectAnswer == false))
                                {
                                @*<strong>
                                      <span style="color:blue">  @answer.QuestionVariantContent </span> <span style="color:green"> (*ճիշտ պատասխան)  </span>
                                    </strong>*@


                                <button style="text-align:left" class="btn btn-info">  @answer.QuestionVariantContent  </button>
                                <span style="color:green"> (*ճիշտ պատասխան)  </span>

                                }

                                @if ((answer.CheckdAnswer == false) && (answer.CorrectAnswer == false) && (answer.CheckCorrectAnswer == false))
                                {

                                <span>  @answer.QuestionVariantContent </span>

                                }
                            </li>

                        }
                    }
                        </ol>
                    </li>


                </div>
            </div>
        </div>
        }
    </ul>

</form>




