@model List<Answer5>

@{
    ViewData["Title"] = "Հարցաշար 5";

}

<div style="text-align:center">
    <h3> <strong>Հարգելի <span style="color:forestgreen">  @ViewBag.UserFullName </span> </strong> </h3>
    <h3><strong>Դուք հավաքեցիք <span style="color:forestgreen"> @ViewBag.Result_Test2 </span> միավոր </strong> </h3>
    <h3><strong>Ճիշտ պատասխանները նշված են <span style="color:forestgreen">կանաչ </span>  գույնով </strong></h3>
    <h3> <strong>Սխալ պատասխանները նշված են<span style="color:red"> կարմիր</span> գույնով </strong></h3>
</div>


<h3 style="text-align:center">Հարցաշար 5</h3>
<form asp-controller="Questions" asp-action="Submit5">

    <ol type="1">
        @foreach (var question in ViewBag.Questions)
        {
            <li>
                <strong style="text-align:center"> @question.QuestionContent</strong>
                <input type="hidden" name="questionId" value="@question.Id" />
                <ol type="a">

                    @foreach (var answer in Model)
                    {
                        if (answer.QuestionId == question.Id)
                        {
                            <li>
                                @if (answer.CheckdAnswer == true)
                                {
                                    @if (answer.CorrectAnswer == true)
                                    {
                                        <strong>
                                            <span style="color:green">  @answer.QuestionVariantContent </span>
                                        </strong>
                                    }
                                    else
                                    {
                                        <strong>
                                            <span style="color:red">  @answer.QuestionVariantContent </span>
                                        </strong>
                                    }
                                }
                                else
                                {
                                    @answer.QuestionVariantContent
                                }
                            </li>
                        }
                    }
                </ol>
            </li>
        }
    </ol>
</form>